@import "bootstrap";
@import "//node_modules/bootstrap-icons";
@import "navbar";
@import "footer";

:root {
    --bg-color: #fafafa;
    --text-color: #3b3b3b;
    .dark {
        --bg-color: #3b3b3b;
        --text-color: #fafafa;
    }
}

html {

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
