@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
//@import "bootstrap-icons";
@import "navbar";
@import "footer";
@import 'node_modules/swiper/swiper';
@import 'node_modules/swiper/modules/navigation/navigation';
@import 'node_modules/swiper/modules/pagination/pagination';
@import "swiper";

:root {
    --bg-color: #fafafa;
    --text-color: #3b3b3b;
    --primary-color: #670E7C;
    --secondary-color: #575775;
    .dark {
        --bg-color: #3b3b3b;
        --text-color: #fafafa;
    }
}

html {

}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}



.hero {
    position: relative;

    .hero-container {
        .hero-title {
            text-align: center;

            h1 {
                color: var(--primary-color);
                text-transform: uppercase;
                font-weight: bold;
            }

            h3 {
                color: var(--secondary-color);
            }
        }
    }

    .hero-bg {
        position: absolute;
        inset: 0;
        z-index: -1;

        img {
            position: absolute;
            transition: all 1s ease-in-out;

            @include media-breakpoint-down(lg) {
                display: none;
            }

            &:nth-child(1) {
                top: 0;
                left: 20%;
                transform: scale(0.8);

                //@include media-breakpoint-down(lg) {
                //    transform: rotate(90deg);
                //}

            }
            &:nth-child(2) {
                bottom: 20%;
                left: 0;
                transform: scale(0.9);
            }
            &:nth-child(3) {
                bottom: 10%;
                left: 27%;
            }
            &:nth-child(4) {
                bottom: -13%;
                left: 47%;
                transform: scale(0.8);

                //@include media-breakpoint-only(md) {
                //    display: block;
                //}
            }
            &:nth-child(5) {
                bottom: -5%;
                right: 18%;
                transform: scale(0.8);
            }
            &:nth-child(6) {
                top: -13%;
                right: 0;
                transform: scale(0.6);
            }
        }


    }
}

.skills {
    .skills-title{
        text-align: center;

        h1 {
            color: var(--primary-color);
            font-weight: bold;
        }

        h4 {
            color: var(--secondary-color);
        }
    }
}
